{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(wishForm) }}
        {{ form_widget(wishForm) }}
        <button>Let's go!</button>
    {{ form_end(wishForm) }}
{% endblock %}

{% block title %}
    Create | {{ parent() }}
{% endblock %}